<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zrdb.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zrdb.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.LoginActivity" />
        <activity android:name=".ui.account.ForgetPwdActivity" />
        <activity android:name=".ui.account.RegisterActivity" />
        <activity android:name=".ui.main.SearchActivity" />
        <activity android:name=".ui.main.MessageActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".ui.main.SearchDetailActivity" />
        <activity
            android:name=".ui.visit.IntelligentVisitActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.director.LookDirectorActivity" />
        <activity android:name=".ui.director.DirectorDetailActivity" />
        <activity android:name=".ui.director.DirectorInfoActivity" />
        <activity
            android:name=".ui.director.SubscribeDocActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.common.SchemeActivity" />
        <activity android:name=".ui.hospital.LookHosIndexActivity" />
        <activity android:name=".ui.hospital.HosDetailActivity" />
        <activity android:name=".ui.hospital.SubscribeHosActivity" />
        <activity android:name=".ui.me.MeMeanActivity" />
        <activity android:name=".ui.me.UserInfoActivity" />
        <activity android:name=".ui.me.MeBespokeActivity" />
        <activity android:name=".ui.me.BespokeDetailActivity" />
        <activity android:name=".ui.card.BuyCardActivity" />
        <activity android:name=".ui.card.CardExhibitionActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@style/wxEntry" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />
        <activity android:name=".ui.me.MeOrderActivity" />
        <activity android:name=".ui.order.OrderBuyActivity" />

    </application>

</manifest>